.wrapper{
    @apply w-full flex lg:flex-row flex-col-reverse h-screen;
}
.left_wrapper{
    @apply flex lg:flex-1 lg:w-1/2 w-full lg:bg-[#f7f7f7] md:h-full md:px-4 ;
}
.right_wrapper{
    @apply flex relative lg:w-1/2 w-full flex-1 flex-col  justify-center items-center px-4 md:px-8 bg-white h-full;
}
.subheading{
    @apply text-secondary font-bold capitalize font-rajdhani sm:text-[28px] text-[22px] text-center;
}
.heading{
    @apply text-primary sm:text-[34px] md:text-[30px] text-[24px] font-bold py-2 sm:py-4 flex justify-center font-rajdhani;
}
.field_style{
    @apply sm:py-4 py-2 sm:px-4 px-2 border border-primary rounded-[50px] md:w-[250px] 2xl:w-[280px] w-full placeholder:text-[14px] placeholder:text-greyy outline-none max-h-[50px] sm:h-[45px] h-[45px]  text-black text-18 font-semibold font-rajdhani bg-transparent;
}
.label_Style{
    @apply sm:text-[14px] text-[13px] text-para uppercase sm:pb-[12px] pb-[8px]  font-medium ;
}
.signup_img{
    @apply w-[80%] ;
}
.field_wrapper{
    @apply flex flex-col w-full md:max-h-[110px] sm:h-[90px] h-[80px];
}
.info_text{
    @apply capitalize text-base py-1 text-para font-semibold;

}
.dotted_box{
    @apply my-[10px] md:max-h-[260px] md:h-[260px] max-h-[200px] h-[200px] rounded border cursor-pointer border-dashed border-greyy w-full flex flex-col justify-center items-center sm:py-14 py-2 relative;
}

.form_wrapper{
    @apply flex flex-col justify-center items-center max-w-full bg-white w-full ;
}

.selected_file{
    @apply pt-2 text-greyy text-black font-rajdhani font-medium
}
.scrollbar{
    @apply space-y-4 h-[90vh] w-full justify-center items-center overflow-y-scroll;
}
.scrollbar::-webkit-scrollbar {
    width: 0;
    
}
.error_msg{
    @apply text-red-500 text-sm font-rajdhani font-semibold py-1;
}
.img_preview{
    @apply relative w-full h-full sm:px-7 px-2
}