/* styles.module.css */

.wrapper {
  @apply bg-f7f7f7 w-full md:py-[10px] py-[22px] ;
}
.form_wrapper {
  @apply flex md:bg-white bg-transparent  md:p-4 p-0 flex-col;
  /* box-shadow: 0px 0px 20px 0px #0000000f; */
}

.heading {
  @apply text-primary sm:text-[36px] text-[24px] font-bold text-center w-full font-rajdhani md:mb-8 mb-4;
}
.basic_detail_heading {
  @apply flex w-full items-center mt-8 ;
}
.sub_heading {
  @apply font-rajdhani whitespace-nowrap text-black font-bold sm:text-[24px] text-[18px] pr-1;
}
.line {
  @apply sm:w-full sm:h-[1px] bg-line sm:flex  ;
}
.field_wrapper {
  @apply flex flex-col w-full sm:max-h-[110px] sm:h-[110px] h-[90px] max-h-[90px];
}
.label_Style {
  @apply text-lg text-para capitalize pb-1 font-medium font-rajdhani;
}
.field_style {
  @apply py-1 px-4 border border-primary rounded-[50px] w-full placeholder:text-[14px] placeholder:text-greyy max-h-[50px] h-[45px]  outline-none focus:border-primary focus:border-2 text-black text-18 font-semibold font-rajdhani bg-transparent;
}
.special_heading {
  @apply text-line font-rajdhani text-[14px] sm:text-[24px]  px-1 sm:whitespace-nowrap;
}
.next_btn {
  @apply bg-secondary md:w-[300px] w-full mx-auto text-white my-14;
}

.dotted_box {
  @apply border border-dashed border-gray-300 sm:p-3 p-2 flex flex-col items-center justify-center;
}
.dotted_box_step2{
  @apply border border-dashed border-gray-300 sm:p-3 sm:p-5 p-2 flex flex-col items-center justify-center min-w-[16px] min-h-[160px] rounded-[10px] md:rounded-none;

}
.line1 {
  @apply h-[2px] bg-primary md:w-[104px] w-[70px];
}
.line2 {
  @apply h-[2px]  md:w-[72px] w-[60px];
}
.line3 {
  @apply h-[2px] bg-line md:w-[104px] w-[70px];
}
.circle1 {
  @apply sm:h-9 sm:w-9 w-7 h-7 border-[2px] border-primary rounded-[50%] cursor-pointer;
}
.circle2 {
  @apply bg-white sm:h-9 sm:w-9 w-7 h-7 border-[2px] border-line rounded-[50%] cursor-pointer;
}

.common_step {
  @apply text-base font-semibold font-rajdhani leading-5 text-primary absolute top-[-35px];
}
.step1 {
  @apply md:left-[110px] left-[70px];
}
.step2 {
  @apply md:left-[210px] left-[150px];
}

.description_and_dent_style {
  @apply border border-primary rounded-[15px]  px-4 py-2 outline-none focus:border-primary focus:border-2 min-h-[80px];
}
.common_text {
  @apply text-subHeading font-rajdhani text-sm font-medium absolute top-[40px];
}
.car_details {
  @apply md:left-[85px] left-[60px];
}
.photo_vedio {
  @apply md:left-[190px] left-[150px];
}
@media screen and (min-width: 768px) {
  .form_wrapper {
  box-shadow: 0px 0px 20px 0px #0000000f;

  }
}
.btn_step2{
  @apply md:mt-[30px] mt-[22px] py-2 px-3 md:px-4 md:py-3 gap-1 md:leading-[18px] leading-[15px] text-[14px] md:text-base
}
.step2_btn_img{
@apply md:w-[20px] w-[16px] md:h-[20px] h-[16px]
}