@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.large_layout {
  @apply last-screen:w-[2000px] mx-auto;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.custom-checkbox{
  @apply w-6 h-6 rounded-[4px] flex justify-center items-center cursor-pointer relative;
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.custom-checkbox input {
  @apply w-6 h-6 cursor-pointer border-none;
}


input[type="checkbox"] {
  accent-color: #EF6E0B !important;
}
input:checked ~ .checkmark {
  background-color: transparent;
}
input[type="radio"]:checked {
  accent-color: #EF6E0B !important;
}


.custome-scrollbar::-webkit-scrollbar {
  height: 8px;
  border-radius: 6px;
}

/* Track */
.custome-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.custome-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #a09f9f; 
}
.error_msg{
  @apply text-red-500 text-sm pt-1;
}